In [1]:
#import libraries
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
# load all dataset
calender = pd.read_csv('calendar.csv')
listings = pd.read_csv('listings.csv')
reviews = pd.read_csv('reviews.csv')

In [3]:
#get shapes
print(calender.shape)
print(listings.shape)
print(reviews.shape)

(6175334, 7)
(16920, 75)
(694213, 6)

In [4]:
calender.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,673276379194656210,2022-09-10,f,$59.00,$59.00,1.0,1125.0
1,673276379194656210,2022-09-11,t,$59.00,$59.00,1.0,1125.0
2,673276379194656210,2022-09-12,f,$59.00,$59.00,1.0,1125.0
3,673276379194656210,2022-09-13,f,$59.00,$59.00,1.0,1125.0
4,673276379194656210,2022-09-14,f,$59.00,$59.00,1.0,1125.0

In [5]:
listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,673276379194656210,https://www.airbnb.com/rooms/673276379194656210,20220910194401,2022-09-10,city scrape,Habitación muy acogedora.,Abrace la simplicidad en este lugar tranquilo ...,El barrio es tranquilo y bien hubicado. Cerc...,https://a0.muscache.com/pictures/miso/Hosting-...,51421682,https://www.airbnb.com/users/show/51421682,Maria Das Merces,2015-12-15,NaN,Sou Bailarina y Terapeuta Integrativa. Trabalh...,within an hour,100%,100%,f,https://a0.muscache.com/im/pictures/user/709d3...,https://a0.muscache.com/im/pictures/user/709d3...,NaN,1.0,1.0,"['email', 'phone']",t,t,"L'Hospitalet de Llobregat, Catalunya, Spain",la Bordeta,Sants-Montjuïc,41.363004,2.125326,Private room in condo,Private room,2,NaN,1 shared bath,2.0,2.0,"[""Ethernet connection"", ""Hangers"", ""Hot water ...",$59.00,1,1125,1.0,1.0,1125.0,1125.0,1.0,1125.0,NaN,t,18,48,78,351,2022-09-10,9,9,9,2022-08-11,2022-09-08,4.89,4.89,5.00,5.00,4.89,4.89,4.78,Exempt,t,1,0,1,0,9.00
1,44192271,https://www.airbnb.com/rooms/44192271,20220910194401,2022-09-10,city scrape,Cozy terrace apartment Apartamento con patio,A private terraced + 2 bedroom ground floor ap...,The neighbourhood is quiet with trees. Though ...,https://a0.muscache.com/pictures/2e579e6b-b717...,200754964,https://www.airbnb.com/users/show/200754964,Nuria,2018-07-08,"Barcelona, Spain",I live in Barcelona. I love travelling and mee...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/0e6be...,https://a0.muscache.com/im/pictures/user/0e6be...,NaN,1.0,1.0,"['email', 'phone']",t,t,"L'Hospitalet de Llobregat, Catalunya, Spain",la Maternitat i Sant Ramon,Les Corts,41.372630,2.113180,Entire condo,Entire home/apt,5,NaN,1 bath,2.0,4.0,"[""Fire extinguisher"", ""Stove"", ""Air conditioni...",$110.00,3,30,3.0,3.0,1125.0,1125.0,3.0,1125.0,NaN,t,5,25,55,151,2022-09-10,54,40,4,2020-11-20,2022-08-26,4.83,4.89,4.70,5.00,4.98,4.52,4.65,HUTB-013294,f,1,1,0,0,2.45
2,17039441,https://www.airbnb.com/rooms/17039441,20220910194401,2022-09-10,city scrape,Apart. full equipped. 2 min to Subway lines L1...,Precioso apartamento ideal para parejas. Lumin...,La zona dispone de servicios básicos y una exc...,https://a0.muscache.com/pictures/02af8b09-c8ca...,114340651,https://www.airbnb.com/users/show/114340651,Pepa,2017-02-01,NaN,NaN,within a few hours,100%,97%,t,https://a0.muscache.com/im/pictures/user/8a1dc...,https://a0.muscache.com/im/pictures/user/8a1dc...,NaN,1.0,2.0,"['email', 'phone']",t,t,"L'Hospitalet de Llobregat, Catalunya, Spain",Sants - Badal,Sants-Montjuïc,41.366400,2.116860,Entire rental unit,Entire home/apt,2,NaN,1 bath,1.0,1.0,"[""Stove"", ""Cooking basics"", ""Security cameras ...",$86.00,3,10,3.0,3.0,10.0,10.0,3.0,10.0,NaN,t,2,2,19,218,2022-09-10,145,34,3,2017-03-01,2022-09-06,4.94,4.97,4.94,4.99,4.99,4.70,4.89,NaN,f,1,1,0,0,2.15
3,18674,https://www.airbnb.com/rooms/18674,20220910194401,2022-09-11,city scrape,Huge flat for 8 people close to Sagrada Familia,110m2 apartment to rent in Barcelona. Located ...,Apartment in Barcelona located in the heart of...,https://a0.muscache.com/pictures/13031453/413c...,71615,https://www.airbnb.com/users/show/71615,Mireia And Maria,2010-01-19,"Barcelona, Spain","We are Mireia (43) & Maria (45), two multiling...",within an hour,98%,93%,f,https://a0.muscache.com/im/users/71615/profile...,https://a0.muscache.com/im/users/71615/profile...,la Sagrada Família,40.0,42.0,"['email', 'phone']",t,t,"Barcelona, CT, Spain",la Sagrada Família,Eixample,41.405560,2.172620,Entire rental unit,Entire home/apt,8,NaN,2 baths,3.0,6.0,"[""Kitchen"", ""Hot water"", ""Host greets you"", ""L...",$180.00,1,1125,1.0,3.0,1125.0,1125.0,1.6,1125.0,NaN,t,10,29,39,60,2022-09-11,30,9,3,2013-05-27,2022-08-29,4.38,4.48,4.72,4.83,4.79,4.79,4.34,HUTB-002062,t,38,38,0,0,0.27
4,553559871868002337,https://www.airbnb.com/rooms/553559871868002337,20220910194401,2022-09-10,city scrape,"8 lacus, VICTORIA",8 apartaments que pretenen recordar la importà...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,442972056,https://www.airbnb.com/users/show/442972056,Maria,2022-01-31,NaN,NaN,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/1bbe3...,https://a0.muscache.com/im/pictures/user/1bbe3...,NaN,8.0,8.0,['phone'],t,t,NaN,Sants - Badal,Sants-Montjuïc,41.371880,2.122200,Entire rental unit,Entire home/apt,2,NaN,1 bath,1.0,1.0,"[""Kitchen"", ""Long term stays allowed"", ""Fire e...",$110.00,2,365,2.0,2.0,365.0,365.0,2.0,365.0,NaN,t,8,22,52,106,2022-09-10,10,10,0,2022-02-25,2022-07-18,4.70,5.00,4.90,4.70,4.50,4.40,4.80,HUTB-009880,t,8,8,0,0,1.52

In [7]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,673276379194656210,691141672749367564,2022-08-11,271989411,Marlene,María Das Merces es muy linda agradable te ayu...
1,196021,578491,2011-09-28,1111424,Zara,Excellent (Website hidden by Airbnb) location ...
2,196021,622897,2011-10-12,1094982,Anne,We had a wonderful stay. The flat is central t...
3,196021,658839,2011-10-24,1162577,Federica,"Wonderful vibrations!!\r<br/>\r<br/>The large,..."
4,196021,687577,2011-11-02,1298699,Amit,We were a large group of 7 people and size of ...

In [8]:
#Data cleaning and processing
numerical_columns = listings.select_dtypes(include=['int', 'float']).columns
categorical_columns = listings.select_dtypes(include=['object']).columns
print("Numerical Columns:", numerical_columns)
print("Categorical Columns:", categorical_columns)

Numerical Columns: Index(['id', 'scrape_id', 'host_id', 'host_listings_count',
       'host_total_listings_count', 'latitude', 'longitude', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')
Categorical Columns: Index(['listing_url', 'last_scraped', 'source', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_url', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'property_type', 'room_type',
       'bathrooms_text', 'amenities', 'price', 'has_availability',
       'calendar_last_scraped', 'first_review', 'last_review', 'license',
       'instant_bookable'],
      dtype='object')

In [9]:
#Check nulls
listings.isna().sum().sort_values(ascending=False)

bathrooms                                       16920
calendar_updated                                16920
neighbourhood                                    6993
neighborhood_overview                            6993
host_neighbourhood                               6959
host_about                                       6235
license                                          5328
review_scores_value                              3719
review_scores_location                           3719
review_scores_checkin                            3719
review_scores_accuracy                           3715
review_scores_cleanliness                        3714
review_scores_communication                      3713
host_location                                    3654
reviews_per_month                                3614
first_review                                     3614
last_review                                      3614
review_scores_rating                             3614
host_response_time                               2842
host_response_rate                               2842
host_acceptance_rate                             2547
bedrooms                                          571
beds                                              299
description                                        86
bathrooms_text                                     11
name                                               10
host_listings_count                                 2
host_since                                          2
host_thumbnail_url                                  2
host_total_listings_count                           2
host_is_superhost                                   2
host_name                                           2
host_picture_url                                    2
host_identity_verified                              2
host_has_profile_pic                                2
minimum_minimum_nights                              1
minimum_nights_avg_ntm                              1
maximum_maximum_nights                              1
minimum_maximum_nights                              1
maximum_minimum_nights                              1
maximum_nights_avg_ntm                              1
minimum_nights                                      0
source                                              0
neighbourhood_group_cleansed                        0
host_url                                            0
host_id                                             0
picture_url                                         0
neighbourhood_cleansed                              0
host_verifications                                  0
last_scraped                                        0
maximum_nights                                      0
scrape_id                                           0
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
latitude                                            0
number_of_reviews_l30d                              0
number_of_reviews_ltm                               0
number_of_reviews                                   0
calendar_last_scraped                               0
availability_365                                    0
availability_90                                     0
availability_60                                     0
availability_30                                     0
has_availability                                    0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
listing_url                                         0
amenities                                           0
price                                               0
id                                                  0
dtype: int64

In [10]:
#Find out columns with more than 99% nulls and drop them as they are of no significance.
listings.columns[listings.isna().sum()/len(listings)>0.99]

Index(['bathrooms', 'calendar_updated'], dtype='object')

In [12]:
# so I can drop bathrooms and calender_upadted cols
# all values similar; no use
df = listings.drop(['bathrooms', 'calendar_updated', 'has_availability'], axis=1)

In [13]:
#Some other columns containing ids and urls are also not needed
df = df.drop(['scrape_id', 'host_id', 'listing_url', 'last_scraped', 'host_url',
              'host_thumbnail_url', 'host_picture_url', 'picture_url'], axis=1)

In [14]:
#I will only keep the 2 main columns of 'minimum_nights' and 'maximum_nights' and discard other variations.
cols_to_drop = ['minimum_minimum_nights', 'maximum_minimum_nights',
               'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm',
               'maximum_nights_avg_ntm']
df.drop(cols_to_drop, axis=1, inplace=True)

In [16]:
#We will start by processing the categorical columns.
#host_since: Datetime column telling us when the host joined the platform
#derive a new column conveying the number of days since the host is active on the platform. We subtract the values in the host_since column with the date when the data was scraped. In our case, this is 9/10/2022.

from datetime import datetime
df.host_since = pd.to_datetime(df.host_since)
df['Active_Days'] = (datetime(2022,9,10) - df.host_since).astype('timedelta64[D]')
df.Active_Days.fillna(df.Active_Days.median(), inplace = True)

In [17]:
df.host_since.min()

Timestamp('2008-09-19 00:00:00')

In [18]:
#bathrooms_text : Description of the bathrooms in the home.
#extract number of bathrooms from the bathroom text.
df.bathrooms_text.isna().sum()

11

In [19]:
## dropping rows where bath info missing
df.dropna(subset=['bathrooms_text'], inplace=True)

In [21]:
df.bathrooms_text.value_counts()[:10]

1 bath              6913
2 baths             2899
1 shared bath       2843
1 private bath      1382
1.5 baths            798
1.5 shared baths     663
2 shared baths       501
3 baths              247
2.5 baths            128
4 baths               92
Name: bathrooms_text, dtype: int64

In [24]:
#extract no of bathrooms from text
import sys
import re

def get_bath_counts(column):
    try:
        if 'half' in column or 'Half' in column:
            a = 0.5
        else:
            a = re.findall(r'\d+', column)[0]
    except:
        print(column)
        prin(sys.exc_info()[0])
    return a

df['Num_of_Bathrooms'] = pd.to_numeric(df['bathrooms_text'].apply(lambda x: get_bath_counts(x)))

In [25]:
#property_type: describes the kind of property.
df.property_type.value_counts()

Entire rental unit                    8368
Private room in rental unit           4787
Entire serviced apartment              498
Entire condo                           436
Room in hotel                          376
Entire loft                            327
Private room in condo                  288
Room in boutique hotel                 252
Private room in hostel                 215
Private room in home                   210
Private room in bed and breakfast      108
Private room in casa particular        105
Boat                                    98
Shared room in hostel                   90
Entire home                             89
Private room in guest suite             61
Private room in serviced apartment      54
Entire guest suite                      51
Entire guesthouse                       47
Private room in loft                    46
Shared room in rental unit              43
Room in hostel                          40
Entire villa                            32
Entire townhouse                        27
Room in serviced apartment              24
Private room in guesthouse              21
Private room                            21
Entire vacation home                    20
Private room in townhouse               17
Private room in villa                   14
Room in aparthotel                      14
Camper/RV                               13
Private room in floor                   12
Entire place                            11
Private room in vacation home            9
Shared room in bed and breakfast         9
Shared room in home                      9
Private room in boat                     7
Private room in dome                     6
Private room in chalet                   6
Shared room                              5
Room in bed and breakfast                4
Shared room in loft                      4
Tiny home                                4
Shared room in villa                     4
Casa particular                          3
Shared room in condo                     3
Entire chalet                            3
Houseboat                                2
Shared room in guest suite               2
Shared room in casa particular           1
Shared room in train                     1
Private room in cottage                  1
Tent                                     1
Tower                                    1
Shared room in floor                     1
Entire cottage                           1
Shared room in boutique hotel            1
Shared room in guesthouse                1
Shared room in tower                     1
Private room in tiny home                1
Entire home/apt                          1
Barn                                     1
Entire cabin                             1
Name: property_type, dtype: int64

In [26]:
#bin the property types into 4 categories: private_room, shared_room, entire_space and other.
def bin_property_type(column):
    if 'Private' in column:
        valu = 'Private Room'
    elif 'Shared' in column:
        valu = 'Shared Room'
    elif 'Entire' in column:
        valu = 'Entire Space'
    elif 'hotel' in column or 'aparthotel' in column:
        valu = 'Hotel'
    elif 'Private' not in column or 'Shared' not in column or 'Entire' not in column or 'hotel' not in column or 'aparthotel' not in column:
        valu = 'Other'
    return valu

df['property_type'] = df.property_type.apply(lambda x : bin_property_type(x))

In [27]:
df.property_type.value_counts()

Entire Space    9912
Private Room    5989
Hotel            642
Other            191
Shared Room      175
Name: property_type, dtype: int64

In [29]:
#Numerical Cols.
#Handle important columns such as bedrooms, beds, accomadates. Fill NAN with mean/median.
df.bedrooms.value_counts()

1.0     9051
2.0     3953
3.0     2360
4.0      707
5.0      152
6.0       65
7.0       19
8.0       13
9.0        8
10.0       4
11.0       3
12.0       2
16.0       1
20.0       1
Name: bedrooms, dtype: int64

In [30]:
df.beds.value_counts()

1.0     6992
2.0     3395
3.0     2552
4.0     1754
5.0      894
6.0      532
7.0      205
8.0      108
10.0      53
9.0       43
12.0      17
14.0      13
16.0      11
15.0      11
11.0       8
18.0       7
13.0       6
20.0       5
19.0       2
30.0       1
40.0       1
26.0       1
Name: beds, dtype: int64

In [31]:
df.accommodates.value_counts()

2     5488
4     3500
1     2346
6     1721
3     1324
5     1303
8      515
7      300
10     166
9       97
16      50
12      45
14      21
11      12
15      11
13      10
Name: accommodates, dtype: int64

In [34]:
#null
print(df.bedrooms.isna().sum())
print(df.beds.isna().sum())
print(df.reviews_per_month.isna().sum())

570
298
3612

In [37]:
## fill the nan values in these columns with the median value of the column
df['bedrooms'] = df['bedrooms'].fillna(df['bedrooms'].median())
df['beds'] = df['beds'].fillna(df['beds'].median())
df['reviews_per_month'] = df['reviews_per_month'].fillna(df['reviews_per_month'].median())

In [38]:
#column 'host_total_listings_count' that is similar to 'host_listings_count', so this can be dropped.
df.drop(['host_total_listings_count'], axis = 1, inplace=True)
df = df.dropna(subset=['host_listings_count'])

In [41]:
#save .csv
df.to_csv('Final.csv')